/* Font Imported  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Basic Styles  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Slider Style  */
.slider-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 100px 150px;
    background-color: #2d25a0;
}
.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.slider-title h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin: 0;
}
.button {
    margin-top: 30px;
}
.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 10px 30px;
    background-color: #e02c6d;
    color: #fff;
    box-shadow: none;
    cursor: pointer;

    transition: box-shadow 0.3s;
}
.button:hover {
    box-shadow: 0px 0px 20px #e02c6d;
}
.fa-arrow-right {
    margin-left: 5px;
}
.slider-image img {
    width: 100%;
    transition: transform 0.3s ease;
}
.slider-image img:hover {
    transform: scale(1.1);
}

/* Posts Style  */

.container {
    width: 1050px;
    margin: 70px auto;
}
.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.single-post {
    padding: 15px;
    box-shadow: 0px 0px 40px #ddd;
}
.post-image {
    margin-bottom: 16px;
}
.post-image img {
    width: 100%;
    transition: transform 0.3s ease;
}
.post-image img:hover {
    transform: scale(1.1);
}
.post-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #18191f;
    margin-bottom: 10px;
}
.post-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6c6c6c;
    margin-bottom: 10px;
}

/* Highlights section  */
section.highlights-section.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
.highlights-section {
    margin-top: 150px;
    margin-bottom: 150px;
}
.highlight-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.section-title {
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.highlight-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6c6c6c;
    margin: 0;
}

.highlight-image img {
    width: 100%;
    transition: transform 0.3s ease;
}
.highlight-image img:hover {
    transform: scale(1.1);
}

/* Subscribe section style  */
.subscribe-section {
    background-image: url(../images/bg.png);
    padding: 100px 0px;
    background-size: cover;
}
.sub-container {
    width: 50%;
    padding: 0px 15px;
    margin: 0 auto;
}
form.subscribe-form {
    margin: 30px 0px;
}
form.subscribe-form input {
    border: none;
    font-size: 16px;
    width: 75%;
    padding: 10px 10px;
    line-height: 24px;
}
input:focus-visible {
    outline: none;
}

/* Footer style start */

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 70px;
}
.logo-image {
    width: 480px;
    margin-bottom: 20px;
}
.logo-image img {
    width: 100%;
    transition: transform 0.3s ease;
}
.logo-image img:hover {
    transform: scale(1.1);
}
.social-icon {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
}
.social-icon a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    text-align: center;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
}
.social-icon a:hover .fa {
    color: #000;
}

.social-icon .fa {
    color: #969bab;
    transition: color 0.3s;
}

.copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}

/* Start Responsive Style  */

/* For mobile Style  */
@media only screen and (max-width: 688px) {
    /* Slider section start  */
    .slider-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        padding: 15px 15px;
    }
    .slider-title h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #fff;
        margin: 0;
    }
    .slider-image {
        margin-bottom: 40px;
    }
    .slider-image img:hover {
        transform: scale(1);
    }
    /* Post section start  */
    .container {
        width: 100%;
    }
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
    .post-image img:hover {
        transform: scale(1);
    }
    /* Highlight section start  */

    section.highlights-section.container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .highlights-section {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .highlight-image {
        margin: 0px auto;
        width: 350px;
    }
    .highlight-image img:hover {
        transform: scale(1);
    }
    .highlight-content {
        padding: 15px;
    }
    .section-title {
        font-size: 30px;
        font-weight: 700;
        margin: 0px 0px 10px 0px;
        line-height: 40px;
    }
    /* subscribe section style  */
    .row h2 {
        padding: 0px 15px;
    }
    .sub-container {
        width: 100%;
    }
    .sub-container {
        width: 100%;
        padding: 0px;
    }
    form.subscribe-form {
        padding: 0px 15px;
    }
    form.subscribe-form input {
        font-size: 16px;
        width: 100%;
        padding: 10px 10px;
        line-height: 24px;
    }
    input[type="email"] {
        width: 100%;
    }

    /* Footer style start  */

    .logo-image {
        width: 300px;
    }
    .logo-image img:hover {
        transform: scale(1);
    }
}
/* For Tablet Style  */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    /* slider section style  */
    .slider-section {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        padding: 100px 100px;
        background-color: #2d25a0;
    }

    /* Post section style  */
    .container {
        width: 100%;
    }
    .posts {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding: 0px 15px;
    }
    /* highlight section style  */
    .highlights-section {
        margin: 100px 0px;
    }
    .highlight-content {
        margin-left: 15px;
    }
    .section-title {
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-image {
        margin-right: 15px;
        overflow: hidden;
    }

    /* subscribe section style  */
    .sub-container {
        width: 75%;
    }
    form.subscribe-form input {
        width: 100%;
    }
    /* Footer section style  */
}
